__pycache__/
venv/
test.py
data/
data-pong/
pong/
references/

saved_others/
saved/
saved2/
saved3_saved2/
saved4_restart/
saved5_saved2/
saved6/
saved7_saved6/
saved8/
saved9_saved8/
saved10/
saved11/
saved12_saved8/
saved13_best/
saved14_done/
saved15/
saved16/